<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="container rounded-2 border border-1 w-25 my-5 py-2">
    <span class="error-code-number my-2">
      <strong>404:</strong>
      NOT_FOUND
    </span>
    <span class="code-error d-block my-2"> code: `NOT_FOUND` </span>
    <span class="error-info">
      ID: ` cdg1::mkj6w-1737122348772-50db34ecb33b `
    </span>
  </div>
  <a
    href="#"
    class="px-4 py-2 border border-primary border-1 text-decoration-none rounded-2 mb-4"
    >Read our documentation to learn more about this error.</a
  >
</div>
